<div *ngIf="serverAnswer" class="error_message">
    {{serverAnswer.error}}
</div>

<h1>Witaj na Infamie!</h1>
<div class="login_container">
<div class="infam_info">
Internet w <i>pigułce</i> jest w zasięgu Twojej ręki.
Gromadź i segreguj artykuły z wielu portali informacyjnych <b>dostosowanych do Twoich zainteresowań</b>.
Bądź na bieżąco z informacjami dobieranymi do Twoich potrzeb.
<br /><br />
Infam to narzędzie pozwalające na komfortowy przegląd Internetu stawiające na Twój osobisty rozwój.
</div>
  <form (ngSubmit)="logIn(username.value, userpassword.value)">
    <ul>

      <li><input type="text" #username placeholder="Podaj login..." required></li>
      <li><input type="password" #userpassword placeholder="Podaj haslo..." required></li>
      <li><button type="submit">Zaloguj się</button></li>
    </ul>
  </form>
  <div class="no_account">
    Pierwszy raz na Infamie? Uzyskaj dostep do strony i <a [routerLink]="['Registration']">zarejestruj się</a>.
  </div>
  <div *ngIf="communicate">
    {{communicate}}
  </div>
</div>
