.login_container {
  color: #dedede;
  background: #1f1f1f;
  border: 5px solid #1B1B1B;
  border-radius: 4px;
  padding: 20px 20px 10px 20px;
  display: inline-block;
  max-width: 600px;
}

.login_container ::-webkit-input-placeholder { color:#222; }
.login_container ::-moz-placeholder { color:#222; } /* firefox 19+ */
.login_container :-ms-input-placeholder { color:#222; } /* ie */
.login_container input:-moz-placeholder { color:#222; }

.login_container input[type="text"], input[type="password"] {
  padding: 10px 20px;
  width: 556px;
  border-radius: 5px;
  font-size: 20px;
  font-style: italic;
  border: 2px solid #acacac;
  background: #d8d8d8 url("/images/input_background.jpg") repeat-x center;
  color: #2a2a2a;
}

.login_container button[type="submit"] {
  border-radius: 4px;
  border: 2px solid #272727;
  background: #2D2D2D;
  color: #eaeaea;
  font-size: 20px;
  width: 100%;
  padding: 10px 20px;
}

.login_container ul {
  padding: 0;
}

.login_container ul span {
  font-size: 20px;
  font-weight: bold;
}

.login_container ul li {
  list-style: none;
  margin-top: 15px;
}

.no_account {
  background: #1b1b1b;
  color: #dedede;
  padding: 15px 20px;
  text-align: center;
  border-radius: 0px 0 5px 5px;
  margin: 10px -25px -15px;
}

.no_account a {
  font-weight: bold;
  color: #44A09D;
  text-decoration: none;
}
