.infam_info {
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  background: #b16316;
  border: 3px solid #c77b42;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.login_container {
  color: #1b1b1b;
  background: #fff;
  border: 5px solid #eef3f6;
  border-radius: 4px;
  padding: 10px 20px;
  display: inline-block;
  max-width: 600px;
}

.login_container ::-webkit-input-placeholder { color:#222; }
.login_container ::-moz-placeholder { color:#222; } /* firefox 19+ */
.login_container :-ms-input-placeholder { color:#222; } /* ie */
.login_container input:-moz-placeholder { color:#222; }

.login_container input[type="text"], input[type="password"] {
  padding: 10px 20px;
  width: 91%;
  border-radius: 4px;
  font-size: 20px;
  font-style: italic;
  border: 2px solid #acacac;
  background: #d8d8d8 url("/images/input_background.jpg") repeat-x center;
  color: #2a2a2a;
}

.login_container button[type="submit"] {
  border-radius: 4px;
  border: 2px solid #2f2f2f;
  background: #1f1f1f;
  color: #eaeaea;
  font-size: 20px;
  width: 590px;
  padding: 10px 20px;
}

.login_container ul {
  padding: 0;
}

.login_container ul span {
  font-size: 20px;
  font-weight: bold;
}

.login_container ul li {
  list-style: none;
  margin-top: 15px;
}

.no_account {
  background: #272727;
  color: #f1f1f1;
  padding: 15px 20px;
  text-align: center;
  border-radius: 0px 0 4px 4px;
  margin: 10px -25px -15px;
}

.no_account a {
  font-weight: bold;
  color: orange;
  text-decoration: none;
}
