<div *ngIf="serverAnswer" class="error_message">
    {{serverAnswer.error}}
</div>

<h1>Dołącz do nas!</h1>
<div class="login_container">
  <div class="infam_info">
  Internet w <i>pigułce</i> jest w zasięgu Twojej ręki.
  Gromadź i segreguj artykuły z wielu portali informacyjnych <b>dostosowanych do Twoich zainteresowań</b>.
  Bądź na bieżąco z informacjami dobieranymi do Twoich potrzeb.
  <br /><br />
  Infam to narzędzie pozwalające na komfortowy przegląd Internetu stawiające na Twój osobisty rozwój.
  </div>
  <form (ngSubmit)="onSubmit(login.value, password.value, email.value)">
    <ul class="register_labels">
      <li>Login:</li>
      <li>Haslo:</li>
      <li>Email:</li>
    </ul>
    <ul class="register_fields">
      <li><input type="text" #login placeholder="Podaj login..." required></li>
      <li><input type="password" #password placeholder="Podaj haslo..." required></li>
      <li><input type="email" #email placeholder="Podaj adres e-mail..." required></li>
    </ul>

    <button type="submit">Stworz konto</button>
  </form>

  <div class="no_account">
    Posiadasz już stworzone konto? W takim razie <a [routerLink]="['Login']">zaloguj się</a>.
  </div>
</div>
