<div *ngIf="user">
<div class="header">
  <a [routerLink]="['Home']"><div class="logo"></div></a>
  <div class="header_user_menu">
    <ul>
      <li *ngIf="user.group === 1" [routerLink]="['Admin']">Panel Administracyjny</li>
      <li [routerLink]="['Search', {string: ''}]">Użytkownicy</li>
      <li [routerLink]="['Settings']">Ustawienia</li>
      <li (click)="logout()">Wyloguj się</li>
    </ul>
  </div>
  <div class="searchContainer">
    <form (ngSubmit)="search(searchValue.value)">
    <input type="text" placeholder="Szukaj użytkowników" class="searchInput" #searchValue>
    <input type="submit" value="Szukaj" class="searchSubmit">
    </form>
  </div>
</div>
<div class="left_menu">
  <div class="user_tab">
    <div *ngIf="user" class="user_details">
      {{user.login}}
    </div>
    <!--
    <ul class="u_menu">
      <li class="messages"></li>
      <li class="new"></li>
      <li [routerLink]="['Settings']" class="settings"></li>
      <li class="logout" (click)="logout()"></li>
    </ul>
    -->
    <div class="user_photo">
      <img src="{{user.photo}}" />
    </div>

    <div *ngIf="user" class="user_categories">
      <h2>Twoje kategorie</h2>
      <p *ngIf="user.categories.length === 0">
        Brak! <a [routerLink]="['Settings']">Dodaj swoją pierwszą kategorię</a>.
      </p>
      <div class="user_categories_list">
        <ul *ngIf="user.categories.length >  0" *ngFor="#category of user.categories" class="user_categories_ul">
          <a [routerLink]="['Category', {id: category?._id}]">
          <li *ngIf="category?.name">
            {{category.name}}
          </li>
        </a>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="right_menu">
  <router-outlet></router-outlet>
</div>
