.right_menu {
  //background: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
  top: 60px;
  right: 0;
  left: 5px;
  color: #1b1b1b;
}

.left_menu {
  border-right: 5px solid rgba(0, 0, 0, 0.2);
}

.user_photo {
  display: inline-block;

  padding: 0;
}
.user_photo img {
  border: 3px solid #3f3f3f;
  border-radius: 0 0 4px 4px;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.user_details {
  border: 3px solid #3f3f3f;
  border-radius: 4px 4px 0 0;
  font-size: 17px;
  width: 100%;
  padding: 7px 0;
  text-align: center;
  background: #3f3f3f;
}

.user_categories_list {
  overflow: hidden;
  height: 200px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: auto;
  padding: 0 20px;
  margin: 0 -20px;
}

.user_categories_ul {
  padding: 0;
  margin: 0;
}

.user_categories h2 {
  background: #1f1f1f;
  padding: 10px 20px;
  margin: 30px -20px 0px;
}

ul.user_categories {
  padding: 0;
  margin: 0;
}

.user_categories li {
  list-style: none;
  padding: 10px 25px;
  color: #d7f1ff;
  border-top: 1px solid #333333;
  margin: 0 -20px;
  font-size: 15px;
  border-bottom: 1px solid #282828;
}

ul.u_menu {
  position: absolute;
  padding: 0;
  margin: -12px 0 0;
  float: left;
  text-align: center;
  left: 135px;
  top: 135px;
}

ul.u_menu li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
  cursor: pointer;
}

ul.u_menu li.logout {
  height: 20px;
  width: 20px;
  background: url("/images/logout.png") no-repeat;
}

ul.u_menu li.logout:hover {
  background: url("/images/logout_hover.png") no-repeat;
}

ul.u_menu li.settings {
  height: 20px;
  width: 20px;
  background: url("/images/settings.png") no-repeat;
}

ul.u_menu li.settings:hover {
  background: url("/images/settings_hover.png") no-repeat;
}

ul.u_menu li.new {
  height: 20px;
  width: 20px;
  background: url("/images/new.png") no-repeat;
}

ul.u_menu li.new:hover {
  background: url("/images/new_hover.png") no-repeat;
}

ul.u_menu li.messages {
  height: 20px;
  width: 20px;
  background: url("/images/message.png") no-repeat;
}

ul.u_menu li.messages:hover {
  background: url("/images/message_hover.png") no-repeat;
}

.logo {
  position: absolute;
  height: 50px;
  width: 216px;
  background-image: url("/images/logo_infam2.png");
  background-repeat: no-repeat;
  float: left;
  margin-top: -30px;
  margin-left: 34px;
}

.settingsContainer {
  background: #1f1f1f;
  border: 5px solid #1B1B1B;
  padding: 20px;
  border-radius: 4px;
  color: #929292;
}

input[type="text"], input[type="password"], select {
  padding: 5px 10px;
  width: auto;
  border-radius: 5px;
  font-size: 16px;
  font-style: italic;
  border: 2px solid #acacac;
  background: #d8d8d8 url("/images/input_background.jpg") repeat-x center;
  color: #2a2a2a;
}

button[type="submit"] {
  border-radius: 4px;
  border: 2px solid #272727;
  background: #2D2D2D;
  color: #eaeaea;
  font-size: 16px;
  width: auto;
  padding: 7px 10px;
}

h2 { font-weight: normal; font-size: 15px; }

.settings_info {
  font-size: 18px;
  background: #2f2f2f;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px 0;
}

.settings_bar {
  margin-bottom: 25px;
}

.searchB {
  background: #000 !important;
  margin-top: 200px !important;
}

.searchContainer {
  position: absolute;
  right: 0px;
  top: 0;
  height: 60px !important;
  display: inline-block !important;
}

.searchInput {
  height: 60px;
  padding: 0 20px !important;
  background: #282828 !important;
  border-radius: 0 !important;
  border: 0 !important;
  color: #929292 !important;
  margin-right: -4px;
}

.searchSubmit {
  height: 59px;
  padding: 0 27px 0 20px !important;
  background: #111 !important;
  border-radius: 0 !important;
  border: 0 !important;
  color:#00B7FF !important;
  font-weight: bold;
  text-transform: uppercase;
  margin: -2px 0 0 0 !important;
}

.searchContainer {
  position: absolute;
  right: 0;
  top: 0;
}
