<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <script src="../es6-shim/es6-shim.js"></script>
  <script src="../angular2/bundles/angular2-polyfills.js"></script>
  <script src="../systemjs/dist/system.src.js"></script>
  <script src="../rxjs/bundles/Rx.js"></script>
  <script src="../angular2/bundles/angular2.dev.js"></script>
  <script src="../angular2/bundles/router.dev.js"></script>
  <script src="../angular2/bundles/http.dev.js"></script>
  <script src="http://fgnass.github.io/spin.js/spin.min.js"></script>
  <script>
    System.config({
      packages: {
        compiled: {
            format: 'register',
            defaultExtension: 'js'
        }
      }
    });
    System.import('../compiled/boot')
          .then(null, console.error.bind(console));
  </script>
</head>
<base href="/">
<body>
  <main-application>
    <div id="uouo" style="width: 300px; height: 300px"></div>
  </main-application>
  <script src="javascripts/spinner.js"></script>
  
</body>
</html>
