html
{
    width: 100%;
    height: 100%;
}

body {
  font: 13px Century Gothic,arial,sans-serif;
  background: #1f1f1f url("/images/background_winter.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #dedede;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.infam_info {
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  background: #2E8A8E;
  border: 2px solid #136165;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.infam_alert {
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  background: #8e2e2e;
  border: 2px solid #651313;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
}

input[type="submit"], button[type="submit"] {
  cursor: pointer;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loading {
  width: 48px;
  height: 48px;
  background: url("/images/loading.gif");
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.not_logged {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -292.5px;
  margin-left: -325px;
}

.not_logged h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-weight: normal;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.header {
  background: #1f1f1f;
  padding: 30px 20px;
  margin: -8px;
  margin-bottom: 20px !important;
  z-index: 9999 !important;
  position: fixed;
  left: 0;
  right: 0;
}

.header_menu {
  float: right;
  display: inline-block;
  text-align: right;
}

.left_menu {
  z-index: -9999 !important;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  background: #2f2f2f;
  padding: 80px 20px 20px;
  width: 260px;
}

.right_menu {
  margin-left: 300px;
  padding: 20px;
}

.message {
  background: #2f2f2f;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 20px;
  display: inline-block;
}

.slider {
  height: 350px;
  padding: 10px 0 10px;
  background: #0f0f0f url("/images/slider.jpg") no-repeat center;
  margin: 0px -8px 20px -8px;
}

.error_message {
  background-color: #6e0000;
  border: 1px solid #8f0a0a;
  color: #ffabab;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  border-radius: 4px;
  padding: 20px;
}

a.button_link {
  background: #2f2f2f;
  padding: 10px 20px;
  border-radius: 4px;
  text-shadow: none;
  text-decoration: none;
}

img.user_photo_medium  {
  width: 80px;
  height: 80px;
  border: 2px solid #3f3f3f !important;
  border-radius: 5px;
  float: left;
}

img.user_photo_mini  {
  width: 40px;
  height: 40px;
  float: left;
}

.article_description li img {
  width: 20% !important;
  border: 3px solid #2f2f2f;
  border-radius: 4px;
  float: left;
  max-height: 150px;
  margin-right: 20px;
  background-size: cover;
}

::-webkit-scrollbar {
    width: 8px;
    background: #1b1b1b;
}

::-webkit-scrollbar-thumb:active {
    width: 8px;
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #00B7FF;
    //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.header_user_menu {
  position: absolute;
  left: 310px;
  height: 60px;
  top: 0;
}

.header_user_menu ul {
  vertical-align: middle;
  height: 60px;
  padding: 0;
  margin: 0;
}

.header_user_menu ul li {
  display: inline-block;
  cursor: pointer;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}

.header_user_menu ul li:hover {
  background: #0f0f0f;
}
