<div *ngIf="user" class="articlesContainer">
  <div class="rss_list">
    <ul *ngIf="user.rss.length > 0" class="categories">
      <li class="categoryName">{{category?.name}}</li>
      <div *ngFor="#rss of user.rss">

        <li *ngIf="id === rss?.categoryId">
        <a href="#/dashboard/category/{{id}}" (click)="bierRSS(rss?.url)">
          {{rss?.name}}
        </a>
        </li>
      </div>
    </ul>
  </div>

  <div class="articles_list">
    <ul *ngIf="articles" *ngFor="#article of articles">
      <div class="article_body" *ngIf="article?.description">
        <li *ngIf="article?.title" class="article_title">
          <a *ngIf="article?.link" href="{{article.link}}">{{article.title}}</a>
        </li>
        <div class="article_description">
          <li [innerHtml]="article?.description"></li>
        </div>
        <div *ngIf="article?.link" class="article_information">
          <span *ngIf="article?.pubDate" class="article_date">{{article.pubDate}}</span>
          <a *ngIf="article?.link" href="{{article.link}}" class="read">Czytaj dalej</a>
        </div>
      </div>
    </ul>
  </div>
</div>
