.articlesContainer {
  background: #1f1f1f;
  border: 5px solid #1B1B1B;
  border-radius: 4px;
  color: #929292;
  height: 95%;
  margin-bottom: 20px;
}

.rss_list {
  background: #2f2f2f;
  width: 250px;
  max-width: 320px;
  float: left;
  height: 100%;
}

.rss_list ul {
  padding: 0;
  margin: 0;
}

.rss_list ul li {
  list-style: none;
  padding: 12px 10px;
  border-top: 1px solid #343434;
  border-bottom: 1px solid #2b2b2b;
}

.articles_list {
  overflow: hidden;
  height: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: auto;
}

.articles_list ul {
  margin: 0;
  padding: 10px;
}

.articles_list ul li {
  list-style: none;
  padding: 5px 10px;
}

h2 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.infam_info {
  display: inline-block;
  margin-bottom: 20px;
}

.categoryName {
  color: #fff;
  font-weight: bold;
}

.article_body {
  color: #B8D3DE;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  overflow: hidden;
}

.article_title {
  font-weight: bold;
  display: inline-block;
  background: #2f2f2f;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 4px;
}

.article_description {
  overflow: hidden;
}

.article_information {
  width: 100%;
  margin-top: 20px;
}

.article_date {
  padding: 6px 20px;
  background: #52A6BF;
  border-radius: 4px 0 0 4px;
  margin-right: -3px;
  color: #fff;
}

.read {
  padding: 6px 20px;
  display: inline-block;
  border-radius: 0 4px 4px 0;
  background: #2f2f2f;
}

ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #242424;
  border-bottom: 1px solid #1a1a1a;
}

ul.categories {
  border: none !important;
}
