.settingsContainer {
  background: #1f1f1f;
  border: 5px solid #1B1B1B;
  padding: 20px;
  border-radius: 4px;
  color: #929292;
  margin-bottom: 20px;
}

input[type="text"], input[type="password"], select {
  padding: 5px 10px;
  width: auto;
  border-radius: 5px;
  font-size: 16px;
  font-style: italic;
  border: 2px solid #acacac;
  background: #d8d8d8 url("/images/input_background.jpg") repeat-x center;
  color: #2a2a2a;
}

button[type="submit"] {
  border-radius: 4px;
  border: 2px solid #272727;
  background: #2D2D2D;
  color: #eaeaea;
  font-size: 16px;
  width: auto;
  padding: 7px 10px;
}

h2 { font-weight: normal; font-size: 15px; }

.settings_info {
  font-size: 18px;
  background: #2f2f2f;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px 0;
}

.settings_bar {
  margin-bottom: 25px;
}
