<div *ngIf="user">
  <div class="settingsContainer">
    <div class="infam_info">
      Żeby móc dodać kanały RSS, z których będą dla Ciebie importowane informacje, najpierw musisz dodać kategorię, pod którą będą się one wszystkie gromadzić.<br /><br />
      Po dodaniu kategorii, po lewej stronie pod Twoim menu użytkownika zostanie dodane nowe pole.
    </div>

    <!-- KATEGORIE -->
    <div class="settings_bar">
      <div class="settings_info">
        Kategorie
      </div>
      <h2>Dodaj kategorię:</h2>
      <form (ngSubmit)="addCategory(categoryName.value)">
        <input type="text" placeholder="Wpisz nazwę kategorii" #categoryName required>
        <button type="submit">Dodaj</button>
      </form>
      <h2>Edytuj kategorię:</h2>
      <form (ngSubmit)="editCategory(categoryToEditId.value, newName.value)">
        <select #categoryToEditId>
          <option value="" disabled="disabled" selected="selected">
            Wybierz kategorię
          </option>
          <option *ngFor="#category of user.categories" value="{{category._id}}">
            {{category.name}}
          </option>
        </select>
        <input type="text" placeholder="Nowa nazwa kategorii" #newName required>
        <button type="submit">Edytuj</button>
      </form>
      <h2>Usuń kategorię:</h2>
      <form (ngSubmit)="removeCategory(categoryToRemoveId.value)">
        <select #categoryToRemoveId>
          <option value="" disabled="disabled" selected="selected">
            Wybierz kategorię
          </option>
          <option *ngFor="#category of user.categories" value="{{category._id}}">
            {{category.name}}
          </option>
        </select>
        <button type="submit">Usuń</button>
      </form>
    </div>

    <!-- KANALY RSS -->
    <div class="settings_bar">
      <div class="settings_info">
        Kanały RSS
      </div>
      <h2>Dodaj kanał RSS</h2>
      <form (ngSubmit)="addRSS(url.value, name.value, categoryId.value)">
        <input type="text" placeholder="Nazwa kanału" #name required>
        <input type="text" placeholder="Bezpośredni adres RSS" #url required>
        <select #categoryId>
          <option value="" disabled="disabled" selected="selected">
            Wybierz kategorię
          </option>
          <option *ngFor="#category of user.categories" value="{{category._id}}">
            {{category.name}}
          </option>
        </select>
        <button type="submit">Dodaj</button>
      </form>
      <h2>Ustaw główny kanał RSS</h2>
      <form (ngSubmit)="addMainRSS(mainRSSId.value)">
        <select #mainRSSId>
          <option value="" disabled="disabled" selected="selected">
            Wybierz kanał
          </option>
          <optgroup *ngFor="#category of categories" label="{{category.name}}">
            <option *ngFor="#rss of category.rss" value="{{rss._id}}">
              {{rss.name}}
            </option>
          </optgroup>
        </select>
        <button type="submit">Wyślij</button>
      </form>
      <h2>Edytuj kanał RSS</h2>
      <form (ngSubmit)="editRSS(RSSId.value, newName.value)">
        <select #RSSId>
          <option value="" disabled="disabled" selected="selected">
            Wybierz kanał
          </option>
          <optgroup *ngFor="#category of categories" label="{{category.name}}">
            <option *ngFor="#rss of category.rss" value="{{rss._id}}">
              {{rss.name}}
            </option>
          </optgroup>
        </select>
        <input type="text" placeholder="Nowa nazwa" #newName required>
        <button type="submit">Edytuj</button>
      </form>
      <h2>Usuń kanał RSS</h2>
      <form (ngSubmit)="removeRSS(RSStoRemoveId.value, newName.value)">
        <select #RSStoRemoveId>
          <option value="" disabled="disabled" selected="selected">
            Wybierz kanał
          </option>
          <optgroup *ngFor="#category of categories" label="{{category.name}}">
            <option *ngFor="#rss of category.rss" value="{{rss._id}}">
              {{rss.name}}
            </option>
          </optgroup>
        </select>
        <button type="submit">Usuń</button>
      </form>
    </div>

    <!-- USTAWIENIA PROFILU -->
    <div class="settings_bar">
      <div class="settings_info">
        Ustawienia profilu
      </div>
      <div class="infam_alert">
        <b>UWAGA:</b> Po zaakceptowaniu zmiany hasla koniecznie je zapamietaj! Od tej pory stare haslo bedzie <b>nieaktywne</b>.
      </div>
      <h2>Zmien haslo:</h2>
      <form (ngSubmit)="editPassword(oldPassword.value, newPassword.value)">
        <input type="password" placeholder="Wpisz stare haslo" #oldPassword required>
        <input type="password" placeholder="Wpisz nowe haslo" #newPassword required>
        <button type="submit">Zmien haslo</button>
      </form>
      <h2>Zmien zdjecie:</h2>
      <form (ngSubmit)="editPhoto(photoName.value)">
        <input type="text" placeholder="Podaj URL zdjecia" #photoName required>
        <!--
        <input type="file" accept="image/*" #photoName required>
        -->
        <button type="submit">Zmien zdjecie</button>
      </form>
    </div>
</div>
