table {
  background: #2f2f2f;
  color: #eaeaea;
  text-align: left;
  border-collapse: none !important;
}

table th {
  background: #3f3f3f;
  margin: -20px -20px 20px -20px;
  padding: 10px 20px;
}

table td {
  padding: 10px 20px;
}
