<div *ngIf="user">
  <div *ngIf="user.group === 0" class="infam_alert">
    Nie posiadasz uprawnien administratora, ktore sa niezbedne do przegladania zawartosci tej strony.
  </div>

  <div *ngIf="user.group === 1">
    <table>
      <th>login</th>
      <th>email</th>
      <th>haslo</th>
      <th>ilosc kategorii</th>
      <th>ilosc rss</th>
      <th>&nbsp;</th>
      <tr *ngFor="#user of users">
        <td>{{user.login}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>{{user.categories.length}}</td>
        <td>{{user.rss.length}}</td>
        <td><button type="submit" (click)="removeUser(user._id)">Usun</button></td>
      </tr>
    </table>
  </div>
</div>
