.searchBlock {
  background: #1f1f1f;
  border: 5px solid #1B1B1B;
  padding: 20px;
  border-radius: 4px;
  color: #929292;
  overflow: hidden;
  margin-bottom: 20px;
}

.user_name_search {
  color: #00B7FF;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

img.user_photo_mini {
  border: 3px solid #3f3f3f !important;
}

ul.user_info_search {
  display: inline-block;
  padding: 0;
  margin-left: 20px;
}

ul.user_info_search li {
}
