<div *ngIf="searchResult">
  <ul class="searchResults">
    <li *ngFor="#user of searchResult" class="searchBlock">
      <img src="profilePhotos/{{user.photo}}" class="user_photo_medium"/>
      <ul class="user_info_search">
        <li class="user_name_search">{{user.login}}</li>
        <li>Ilosc kategorii: {{user.categories.length}}</li>
        <li>Ilosc rss: {{user.rss.length}}</li>
        <li *ngIf="user.group === 0">Grupa: Uzytkownik</li>
        <li *ngIf="user.group === 1">Grupa: Administrator</li>
      </ul>
    </li>
  </ul>
</div>
