.error_empty {
  width: 512px;
  height: 400px;
  background: url("images/error.png");
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
}

.error_empty_h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -221.5px;
  margin-top: 220px;
  text-align: center;
  color: #1b1b1b;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.articles_list {
  background: #1f1f1f;
  border: 5px solid #1B1B1B;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #929292;
  overflow: hidden;
  overflow: -moz-scrollbars-vertical;
  overflow-y: auto;
}

.article_title {
  font-weight: bold;
  display: inline-block;
  background: #2f2f2f;
  margin-top: -15px !important;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 4px;
}

.article_body {
  padding: 20px 20px;
  color: #B8D3DE;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  overflow: hidden;
}

.article_description {
  overflow: hidden;
}

.article_information {
  width: 100%;
  margin-top: 20px;
}

.article_date {
  padding: 10px 20px;
  background: #52A6BF;
  border-radius: 4px 0 0 4px;
  margin-right: -3px;
  color: #fff;
}

.read {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 0 4px 4px 0;
  background: #2f2f2f;
}

ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #242424;
  border-bottom: 1px solid #1a1a1a;
}

.article_list:first-child {
  border-top: 0 !important;
}
