<div *ngIf="user">
    <div *ngIf="user.categories.length === 0" class="error_empty"></div>
    <h3 *ngIf="user.categories.length === 0" class="error_empty_h1">
      Nie importujesz żadnych artykułów.
      <a [routerLink]="['Settings']" class="button_link">Przejdź do ustawień</a>
    </h3>

    <div *ngIf="user.mainRSS !== null">
      <div class="articles_list">
        <ul *ngIf="articles" *ngFor="#article of articles">
          <div class="article_body" *ngIf="article?.description">
            <li *ngIf="article?.title" class="article_title">
              <a *ngIf="article?.link" href="{{article.link}}">{{article.title}}</a>
            </li>
            <div class="article_description">
              <li [innerHtml]="article.description"></li>
            </div>
            <div *ngIf="article?.link" class="article_information">
              <span *ngIf="article?.pubDate" class="article_date">{{article.pubDate}}</span>
              <a *ngIf="article?.link" href="{{article.link}}" class="read">Czytaj dalej</a>
            </div>
          </div>
        </ul>
      </div>
    </div>
</div>
